@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* من الأسود للرمادي الغامق أو لون ثاني */
  background: linear-gradient(135deg, #0f0f0f, #1a1a2e);
  min-height: 100vh;
}

body {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.font-quran {
  font-family: "Amiri Quran", serif;
}
